# Versioning and metadata
.gitattributes
.gitignore
.git
.github

# Dependencies build
dist
node_modules
coverage

# Docker
.dockerignore
*Dockerfile*
*docker-compose*

# MD files
README.md
docs

# Editor files
.editorconfig
.vscode
.prettierrc

# Others
workspace
.cache
.npmrc